<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TP 4 - IA - Armenta Ulises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="leftbox"></div>
        <div id="middlebox">
            <div id="target"></div>
            <div id="ball"></div>
            <div id="fan"></div>
        </div>
        <div id="rightbox">
            <div>
                Info del sistema🧮
                <ion-list>
                  <ion-label>Objetivo en Y:</ion-label>
                  <br>
                  <ion-label>Posicion en Y:</ion-label>
                  <br>
                  <ion-label>Velocidad en Y:</ion-label>
                  <br>
                  <ion-label>Ventilador:</ion-label>
                  <br>
                </ion-list>
                
            </div>
        </div>
  </div>
</ion-content>
